# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

.DS_Store

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea

# executables
publisher
receiver
jorel
cloud_sql_proxy

# service key
service-key.json

url.txt

deployment.yaml
run_deployment.sh
